---
interface Props {
	title: string;
	
	href: string;
}

const { href, title, } = Astro.props;
---
<li class="flex h-8 text-lg [&>a]:hover:bg-[#facc15] [&>div]:hover:text-[#facc15] bg-[#112b3c] text-[#112b3c] overflow-hidden rounded-xl border border-[#112b3c] cursor-pointer">
    <a href={href} class="h-full flex items-center w-full pl-4 bg-blue-50 truncate pr-4 ">
        {title}
    </a>
    <div class=" pr-2 pl-2 text-blue-50 text-opacity-80 bg-[#112b3c] align-middle ">
        {">"}
    </div>
</li>