---
interface Props {
	title: string;
	
	href: string;
}

const { href, title, } = Astro.props;
---

<li id="link-card" class="flex h-14 bg-transparent hover:bg-[#facc15] rounded-3xl  ">
	<a href={href}  class="text-lg flex justify-center items-center text-white h-full pr-4 pl-4 rounded-3xl hover:outline-none outline outline-1 hover:text-[#112b3c]" >
			{title}
	</a>
</li>

	
