---

import Layout from '../layouts/Layout.astro';
import Card from '../components/car/Card.astro';
import CardP from './card-P/CardP.astro';
import {productos} from './card-P/productos.js'
---

<Layout title="Ventas">
	<main class="flex w-full h-full text-white p-4">
		<ul class="flex flex-col w-full max-w-[350px] gap-2">
			
				{productos.map((product, index)=>(
					<li class="">
						<CardP href={product.producto} title={product.producto}/>
					</li>
				))}
			
		</ul>	
	</main>
</Layout>


./card-P/productos.js