---

---
<div class="flex w-full max-w-[800px] h-14 rounded-3xl overflow-hidden" id="link-card">
    <input 
    type="search" 
    class="flex w-[100%] rounded-l-2xl pl-4 pr-4 text-xl"
    placeholder="Buscar en VPI.."
    />
    <button class=" text-white  text-xl pr-5 pl-5 bg-[#112b3c] hover:bg-[#facc15] hover:text-[#112b3c]">{"🔍︎"}</button>
</div>
