---

---
<div class="flex w-full max-w-[600px] h-10 rounded-2xl overflow-hidden" id="link-card">
    <input 
    type="search" 
    class="flex w-[100%] rounded-l-2xl pl-4 pr-4"
    placeholder="Buscar.."
    />
    <button class=" text-white pr-5 pl-5 bg-gradient-to-r from-cyan-500 to-blue-500">{"🔍︎"}</button>
</div>
